#tracer-output {

	.debug-traces {
		clear:both;
	}

	.single-trace {
		margin-bottom:20px;
	}
		.single-trace-location{
			color: #888888;
		    display: block;
		    font-size: 15px;
		    margin-bottom: 5px;
		    text-transform: uppercase;
		    white-space: nowrap;
		}
		.single-trace-data{
			background:#000;
			color:#0C0;
			font-size:14px;
			font-family:monospace;
			font-weight:100;
			padding:20px 10px;

			pre {
				font-size:14px;
			}
			h2 {border:none;}

			a { color:#0C0 !important; }
		}

		a.single-trace-toggle-data{ color:#888888 !important;; }

}
	